<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>AssociationMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login_Association</display-name>
    <servlet-name>login_Association</servlet-name>
    <servlet-class>web.login_Association</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_Association</servlet-name>
    <url-pattern>/login_Association</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allProdADonner</display-name>
    <servlet-name>allProdADonner</servlet-name>
    <servlet-class>web.allProdADonner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allProdADonner</servlet-name>
    <url-pattern>/allProdADonner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addProdADonnerIMg</display-name>
    <servlet-name>addProdADonnerIMg</servlet-name>
    <servlet-class>web.addProdADonnerIMg</servlet-class>
    <init-param>
      <param-name>cheminProdADonner</param-name>
      <param-value>/Users/nour-elmi/Desktop/S3/Proj_JEE/eclipse-workspace/AssociationMarket/WebContent/ressources/images/</param-value>
    </init-param>
    <multipart-config>
      <location>/Users/nour-elmi/Desktop/S3/Proj_JEE/eclipse-workspace/AssociationMarket/WebContent/ressources/images/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProdADonnerIMg</servlet-name>
    <url-pattern>/addProdADonnerIMg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suppProdADonner</display-name>
    <servlet-name>suppProdADonner</servlet-name>
    <servlet-class>web.suppProdADonner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suppProdADonner</servlet-name>
    <url-pattern>/suppProdADonner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifierProdADonner</display-name>
    <servlet-name>modifierProdADonner</servlet-name>
    <servlet-class>web.modifierProdADonner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifierProdADonner</servlet-name>
    <url-pattern>/modifierProdADonner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findProdADonner</display-name>
    <servlet-name>findProdADonner</servlet-name>
    <servlet-class>web.findProdADonner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findProdADonner</servlet-name>
    <url-pattern>/findProdADonner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>associationAdd</display-name>
    <servlet-name>associationAdd</servlet-name>
    <servlet-class>web.associationAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>associationAdd</servlet-name>
    <url-pattern>/associationAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>client_Login</display-name>
    <servlet-name>client_Login</servlet-name>
    <servlet-class>web.client_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>client_Login</servlet-name>
    <url-pattern>/client_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>produitVenteAdd</display-name>
    <servlet-name>produitVenteAdd</servlet-name>
    <servlet-class>web.produitVenteAdd</servlet-class>
    <init-param>
      <param-name>cheminProdVente</param-name>
      <param-value>/Users/nour-elmi/Desktop/S3/Proj_JEE/eclipse-workspace/AssociationMarket/WebContent/ressources/imgProdVente/</param-value>
    </init-param>
    <multipart-config>
      <location>/Users/nour-elmi/Desktop/S3/Proj_JEE/eclipse-workspace/AssociationMarket/WebContent/ressources/imgProdVente/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>produitVenteAdd</servlet-name>
    <url-pattern>/produitVenteAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>produitVenteAllByAsso</display-name>
    <servlet-name>produitVenteAllByAsso</servlet-name>
    <servlet-class>web.produitVenteAllByAsso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produitVenteAllByAsso</servlet-name>
    <url-pattern>/produitVenteAllByAsso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ligneCommandeAll</display-name>
    <servlet-name>ligneCommandeAll</servlet-name>
    <servlet-class>web.ligneCommandeAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ligneCommandeAll</servlet-name>
    <url-pattern>/ligneCommandeAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ligneCommandeFind</display-name>
    <servlet-name>ligneCommandeFind</servlet-name>
    <servlet-class>web.ligneCommandeFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ligneCommandeFind</servlet-name>
    <url-pattern>/ligneCommandeFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ligneCommandeModif</display-name>
    <servlet-name>ligneCommandeModif</servlet-name>
    <servlet-class>web.ligneCommandeModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ligneCommandeModif</servlet-name>
    <url-pattern>/ligneCommandeModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ligneCommandeSupp</display-name>
    <servlet-name>ligneCommandeSupp</servlet-name>
    <servlet-class>web.ligneCommandeSupp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ligneCommandeSupp</servlet-name>
    <url-pattern>/ligneCommandeSupp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajouterAuPanier</display-name>
    <servlet-name>ajouterAuPanier</servlet-name>
    <servlet-class>web.ajouterAuPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouterAuPanier</servlet-name>
    <url-pattern>/ajouterAuPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>produitVenteByCat</display-name>
    <servlet-name>produitVenteByCat</servlet-name>
    <servlet-class>web.produitVenteByCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produitVenteByCat</servlet-name>
    <url-pattern>/produitVenteByCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>produitVenteFind</display-name>
    <servlet-name>produitVenteFind</servlet-name>
    <servlet-class>web.produitVenteFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produitVenteFind</servlet-name>
    <url-pattern>/produitVenteFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>afficherPanier_AllLigneCom</display-name>
    <servlet-name>afficherPanier_AllLigneCom</servlet-name>
    <servlet-class>web.afficherPanier_AllLigneCom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afficherPanier_AllLigneCom</servlet-name>
    <url-pattern>/afficherPanier_AllLigneCom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donAdd</display-name>
    <servlet-name>donAdd</servlet-name>
    <servlet-class>web.donAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donAdd</servlet-name>
    <url-pattern>/donAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donAllAssociation</display-name>
    <servlet-name>donAllAssociation</servlet-name>
    <servlet-class>web.donAllAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donAllAssociation</servlet-name>
    <url-pattern>/donAllAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donAll</display-name>
    <servlet-name>donAll</servlet-name>
    <servlet-class>web.donAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donAll</servlet-name>
    <url-pattern>/donAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>donAllClient</display-name>
    <servlet-name>donAllClient</servlet-name>
    <servlet-class>web.donAllClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>donAllClient</servlet-name>
    <url-pattern>/donAllClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileAssociation</display-name>
    <servlet-name>ProfileAssociation</servlet-name>
    <servlet-class>web.ProfileAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileAssociation</servlet-name>
    <url-pattern>/ProfileAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acheterValiderCommander</display-name>
    <servlet-name>acheterValiderCommander</servlet-name>
    <servlet-class>web.acheterValiderCommander</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acheterValiderCommander</servlet-name>
    <url-pattern>/acheterValiderCommander</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allMesCommandes</display-name>
    <servlet-name>allMesCommandes</servlet-name>
    <servlet-class>web.allMesCommandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allMesCommandes</servlet-name>
    <url-pattern>/allMesCommandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validerGenererRecu</display-name>
    <servlet-name>validerGenererRecu</servlet-name>
    <servlet-class>web.validerGenererRecu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validerGenererRecu</servlet-name>
    <url-pattern>/validerGenererRecu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demandeByAsso</display-name>
    <servlet-name>demandeByAsso</servlet-name>
    <servlet-class>web.demandeByAsso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demandeByAsso</servlet-name>
    <url-pattern>/demandeByAsso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demandeAdd</display-name>
    <servlet-name>demandeAdd</servlet-name>
    <servlet-class>web.demandeAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demandeAdd</servlet-name>
    <url-pattern>/demandeAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beneficiaireSupp</display-name>
    <servlet-name>beneficiaireSupp</servlet-name>
    <servlet-class>web.beneficiaireSupp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beneficiaireSupp</servlet-name>
    <url-pattern>/beneficiaireSupp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beneficiaireProfile</display-name>
    <servlet-name>beneficiaireProfile</servlet-name>
    <servlet-class>web.beneficiaireProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beneficiaireProfile</servlet-name>
    <url-pattern>/beneficiaireProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beneficiaireProdAdonner</display-name>
    <servlet-name>beneficiaireProdAdonner</servlet-name>
    <servlet-class>web.beneficiaireProdAdonner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beneficiaireProdAdonner</servlet-name>
    <url-pattern>/beneficiaireProdAdonner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beneficiaireModif</display-name>
    <servlet-name>beneficiaireModif</servlet-name>
    <servlet-class>web.beneficiaireModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beneficiaireModif</servlet-name>
    <url-pattern>/beneficiaireModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beneficiaireFind</display-name>
    <servlet-name>beneficiaireFind</servlet-name>
    <servlet-class>web.beneficiaireFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beneficiaireFind</servlet-name>
    <url-pattern>/beneficiaireFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beneficiaireAllAssociation</display-name>
    <servlet-name>beneficiaireAllAssociation</servlet-name>
    <servlet-class>web.beneficiaireAllAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beneficiaireAllAssociation</servlet-name>
    <url-pattern>/beneficiaireAllAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beneficiaireAdd</display-name>
    <servlet-name>beneficiaireAdd</servlet-name>
    <servlet-class>web.beneficiaireAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beneficiaireAdd</servlet-name>
    <url-pattern>/beneficiaireAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>beneficiaire_Login</display-name>
    <servlet-name>beneficiaire_Login</servlet-name>
    <servlet-class>web.beneficiaire_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>beneficiaire_Login</servlet-name>
    <url-pattern>/beneficiaire_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>allProdemanderByBene</display-name>
    <servlet-name>allProdemanderByBene</servlet-name>
    <servlet-class>web.allProdemanderByBene</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allProdemanderByBene</servlet-name>
    <url-pattern>/allProdemanderByBene</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accepterDemanderByAsso</display-name>
    <servlet-name>accepterDemanderByAsso</servlet-name>
    <servlet-class>web.accepterDemanderByAsso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accepterDemanderByAsso</servlet-name>
    <url-pattern>/accepterDemanderByAsso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_Admin</display-name>
    <servlet-name>login_Admin</servlet-name>
    <servlet-class>web.login_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_Admin</servlet-name>
    <url-pattern>/login_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>assocaiationAll</display-name>
    <servlet-name>assocaiationAll</servlet-name>
    <servlet-class>web.assocaiationAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assocaiationAll</servlet-name>
    <url-pattern>/assocaiationAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientAdd</display-name>
    <servlet-name>clientAdd</servlet-name>
    <servlet-class>web.clientAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientAdd</servlet-name>
    <url-pattern>/clientAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategorieAll</display-name>
    <servlet-name>CategorieAll</servlet-name>
    <servlet-class>web.CategorieAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategorieAll</servlet-name>
    <url-pattern>/CategorieAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientAll</display-name>
    <servlet-name>clientAll</servlet-name>
    <servlet-class>web.clientAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientAll</servlet-name>
    <url-pattern>/clientAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>web.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileClient</display-name>
    <servlet-name>ProfileClient</servlet-name>
    <servlet-class>web.ProfileClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileClient</servlet-name>
    <url-pattern>/ProfileClient</url-pattern>
  </servlet-mapping>
</web-app>